@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    font-family: 'Poppins', sans-serif;
}

body {
    background: white;
}

nav {
    background: #f6f6f6;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: #2b6af2;
    font-size: 24px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 2%;
    vertical-align: middle;

}

.logo_img {
    position: absolute;
    max-height: 70px;
    max-width: 120px;
    padding-top: 5px;
    margin-left: 43%;
    padding-bottom: 5px;


}

nav ul {
    float: right;
    list-style: none;
    margin-right: 10px;
    position: relative;
}

nav ul li {
    float: left;
    display: inline-block;
    background: #f6f6f6;
    margin:0 2px;
}

nav ul li:hover > ul {
    top: 70px;
    opacity: 1;
    visibility: visible;
}

nav ul li a {
    color: black;
    text-decoration: none;
    line-height: 70px;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 10px;
}
nav ul ul li a{
    font-size:15px;
    padding:8px 0px;
    padding-left: 10px;
}
nav ul li a:hover,nav ul li .navbar_active {
    color: #2b6af2;
    
   
    
}

nav ul ul {
    position: absolute;
    top: 90px;
    border-top: 3px solid #2b6af2;
    
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul ul ul {
    border-top: none;
    
}

nav ul ul li {
    position: relative;
    margin: 0;
    width: 130px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul li a:hover {
    color: #2b6af2;
    box-shadow: none;
}

nav ul ul ul li {
    position: relative;
    top: -70px;
    left: 130px;

}

.fa-plus {
    margin-left: 25px;
    font-size: 15px;

}

.show,
.show_3,
.icon,
input {
    display: none;
}

@media all and (max-width:1200px) {
    nav .logo_img{
        display:none;
    }
}

@media all and (max-width:720px) {


    .icon {
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }

    nav ul {
        margin-right: 0px;
        float: left;
    }

    nav .logo {
        padding-left: 30px;
        width: 100%;
    }

    nav ul li,
    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul ul li {
        position: static;

    }

    nav ul ul li {
        border-bottom: 0px;
    }

    nav ul ul a {
        padding-left: 40px
    }

    nav ul ul ul a {
        padding-left: 80px
    }

    nav ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    nav ul li a {
        padding-left: 20px;
    }

    nav ul ul li a {
        padding-left: 80px;
    }

    .show {
        display: block;
        color: black;
        font-size: 16px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }

    .show:hover {
        color: #2b6af2;
    }

    .show_3 {
        display: block;
        color: black;
        font-size: 16px;
        padding: 0 40px;
        line-height: 70px;
        cursor: pointer;
    }

    .fabric {
        padding-left: 40px;
    }

    .show_3:hover {
        color: #2b6af2;
    }

    nav ul li a:hover {
        box-shadow: none;
    }

    .show + a,
    ul {
        display: none;
    }

    .show_3 + a,
    ul {
        display: none;
    }

    [id^=btn]:checked + ul {
        display: block;
        
    }
    
    .show:hover .fa-arrow-down{
        color: #2b6af2;
        
    }
    .show_3:hover .fa-arrow-down{
        color: #2b6af2;
        
    }

    .fa-arrow-down{
        font-size:12px;
        
        
    }

    nav .logo_img{
        display:none;
    }

}
